@using WebTools.Models.Entities
@model BangTinVanBan
<style>
    .col-120 {
        width: 130px;
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

    .item-content {
        font-weight: bold !important;
        color: dodgerblue;
    }
</style>
<!-- Modal -->
<div class="modal fade" id="modalSuaThuMuc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-folder-minus"></i> Chi tiết văn bản</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-120">
                        <label class="col-form-label col-120">Tên văn bản: </label>
                    </div>
                    <div class="col">
                        <label class="col-form-label col-auto item-content pl-0 pr-0">@Model.TenVB</label>
                    </div>                                      
                    <input type="hidden" id="IDVB" name="IDVB" value="@Model.IDVB" />
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-120">Mã văn bản: </label>
                    <label class="col-form-label col-auto item-content">@Model.MaVB</label>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-120">Bộ phận soạn thảo: </label>
                    <label class="col-form-label col-auto item-content">@Model.BPSoanThao</label>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-120">Đơn vị áp dụng: </label>
                    <label class="col-form-label col-auto item-content">@Model.DVApDung</label>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-120">Đối tượng áp dụng: </label>
                    <label class="col-form-label col-auto item-content">@Model.DoiTuongApDung</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Đóng</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
