@using WebTools.Models.ViewModel
@model BanHanhVanBanVM
<!DOCTYPE html>
<html>
<head>
    <title>Tam Anh Hospital</title>
</head>
<body style="font-family: 'Times New Roman', Times, serif; font-size: 1rem; ">
    <div class="container" style="margin: 10px;">
        <p>Thông báo ban hành Quy trình/Quy định & Biểu mẫu: ........................</p>
        <br />
        <p>
            <strong>Kính gửi:</strong>
            Ban Giám Đốc,
            <br />&emsp;&emsp;&emsp;&emsp;&nbsp;Các Trung tâm/ Khoa/ Phòng/ Bộ phận,
        </p>
        <p>Bộ phận PHVB kính gửi tới các Anh/Chị: ......................, chi tiết như sau: </p>
        <div style="margin: 10px 0 10px 0;">
            <table style="border-collapse: collapse;" border="1">
                <thead>
                    <tr>
                        <th style="padding: 5px;">Tên văn bản</th>
                        <th style="padding: 5px;">Mã văn bản + version</th>
                        <th style="padding: 5px;">Nội dung chỉnh sửa</th>
                        <th style="padding: 5px;">Ngày ban hành</th>
                        <th style="padding: 5px;">Ngày hiệu lực</th>
                        <th style="padding: 5px;">Đối tượng áp dụng</th>
                        <th style="padding: 5px;">Khoa phòng áp dụng</th>
                        <th style="padding: 5px;">Link VBNB</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.listVanBan.Count > 0 && Model.listVanBan != null)
                    {
                        @foreach (var vanban in Model.listVanBan)
                        {
                            <tr>
                                <td style="padding: 5px;">@vanban.TenVanBan</td>
                                <td style="padding: 5px;">@vanban.MaVanBan</td>
                                <td style="padding: 5px;">@vanban.NoiDung</td>
                                <td style="padding: 5px;">@vanban.NgayBanHanh</td>
                                <td style="padding: 5px;">@vanban.NgayHieuLuc</td>
                                <td style="padding: 5px;">@vanban.DoiTuongApDung</td>
                                <td style="padding: 5px;">@vanban.KPApDung</td>
                                <td style="padding: 5px; text-align:center;"><a href="https://vb.bvta.vn/Preview/VanBan?file=@vanban.ID">Link văn bản</a></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
        <p>
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;- Trưởng Đơn vị có trách nhiệm đào tạo và giám sát việc tuân thủ của các thành viên Đơn vị mình phụ trách.
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;- Các thành viên Đơn vị trong phạm vi áp dụng ký xác nhận vào phiếu <strong>Xác nhận làm quen tài liệu</strong>, hạn hoàn thành <span style="background-color:yellow">trong vòng 07 ngày</span> kể từ ngày tài liệu được gửi.
            <br />
            <br />
            <strong>Trân trọng!</strong>
        </p>
    </div>
</body>
</html>