<!DOCTYPE html>
<html>
<head>
    <title>Tam Anh Hospital</title>
</head>
<body style="font-family: 'Times New Roman', Times, serif; font-size: 1rem; ">
    <div class="container" style="margin: 10px;">
        <p>Thông báo ban hành Quy trình/Quy định & Biểu mẫu: @ViewBag.TenVB</p>
        <br />
        <p>
            <strong>Kính gửi:</strong>
            Ban Giám Đốc,
            <br />&emsp;&emsp;&emsp;&emsp;&nbsp;Các Trung tâm/ Khoa/ Phòng/ Bộ phận,
        </p>
        <p>Bộ phận PHVB kính gửi tới các Anh/Chị: @ViewBag.NguoiNhan., chi tiết như sau: </p>
        <div style="margin: 10px 0 10px 0;">
            <table style="border-collapse: collapse;" border="1">
                <thead>
                    <tr>
                        <th style="padding: 5px;">Tên văn bản</th>
                        <th style="padding: 5px;">Mã văn bản + version</th>
                        <th style="padding: 5px;">Nội dung chỉnh sửa</th>
                        <th style="padding: 5px;">Đối tượng áp dụng</th>
                        <th style="padding: 5px;">Hình thức áp dụng</th>
                        <th style="padding: 5px;">Link VBNB</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 5px;">@ViewBag.TenVB</td>
                        <td style="padding: 5px;">@ViewBag.MaVB</td>
                        <td style="padding: 5px;">@ViewBag.NoiDung</td>
                        <td style="padding: 5px;">@ViewBag.DoiTuong</td>
                        <td style="padding: 5px;">@ViewBag.HinhThuc</td>
                        <td style="padding: 5px; text-align:center;"><a href="@ViewBag.Link">Link</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            <strong>Ngày phát hành: <span style="color:red;">@ViewBag.NgayPhatHanh</span></strong>
            <br />
            <strong>Ngày hiệu lực: <span style="color:red;">@ViewBag.NgayHieuLuc</span></strong>
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;- Trưởng Đơn vị có trách nhiệm đào tạo và giám sát việc tuân thủ của các thành viên Đơn vị mình phụ trách.
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;- Các thành viên Đơn vị trong phạm vi áp dụng ký xác nhận vào phiếu <strong>Xác nhận làm quen tài liệu</strong>, hạn hoàn thành <span style="background-color:yellow">trong vòng 07 ngày</span> kể từ ngày tài liệu được gửi.
            <br />
            <br />
            <strong>Trân trọng!</strong>
        </p>
    </div>
</body>
</html>