@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model WebTools.Models.ReportListViewModel
@{
    Layout = null;
}

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="editReportLabel" aria-hidden="true" id="PopupEditReport">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-grip-vertical"></i> Sửa thông tin biểu mẫu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white">&times;&nbsp;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" asp-area="" asp-controller="Report" asp-action="EditReport" id="reportForm">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="IDBieuMau" name="IDBieuMau" value="@Model.ReportList.IDBieuMau" />
                    <input type="hidden" id="IDPhienBan" name="IDPhienBan" value="@Model.ReportList.IDPhienBan" />
                    <div class="row mb-3">
                        <div class="col-3"><label for="TenBM">Tên biểu mẫu:</label></div>
                        <div class="col-9"><input type="text" class="form-control" name="TenBM" id="TenBM" placeholder="Nhập tên biểu mẫu" value="@Model.ReportList.TenBM" required /></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3"><label for="MaBM">Mã biểu mẫu:</label></div>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="col-3"><input type="text" class="form-control" name="MaBM" id="MaBM" placeholder="Nhập mã biểu mẫu" value="@Model.ReportList.MaBM" required /></div>
                        }
                        else
                        {
                            <div class="col-3"><input type="text" class="form-control" name="MaBM" id="MaBM" placeholder="Nhập mã biểu mẫu" value="@Model.ReportList.MaBM" readonly /></div>
                        }
                        <div class="col-3 text-right"><label for="NgayBanHanh">Ngày ban hành:</label></div>
                        <div class="col-3">
                            <div class="input-group date" id="reportdate" data-target-input="nearest">
                                <input type="text" name="NgayBanHanh" id="NgayBanHanh" class="form-control datetimepicker-input" data-target="#reportdate" autocomplete="off" value="@Model.ReportList.NgayBanHanh" required />
                                <div class="input-group-append" data-target="#reportdate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3"><label for="fileUpload">File:</label></div>
                        <div class="col-4">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input fileUpload" id="fileUpload" name="fileUpload" />
                                <label class="custom-file-label" for="customFile">Chọn file</label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <a href="/Report/DocumentView?link=@Model.ReportList.IDPhienBan" target="_blank"><span>File cũ</span></a>
                            <input type="hidden" id="FileLink" name="FileLink" value="@Model.ReportList.FileLink" />
                        </div>
                        <div class="col-2 text-right"><label for="PhienBan">Phiên bản</label></div>
                        @if ((AuthorizationService.AuthorizeAsync(User, "Permission.Versions.Edit")).Result.Succeeded)
                        {<div class="col-2"><input type="text" class="form-control" id="PhienBan" name="PhienBan" value="@Model.ReportList.PhienBan" /></div> }
                        else
                        { <div class="col-2"><input type="text" class="form-control" id="PhienBan" name="PhienBan" value="@Model.ReportList.PhienBan" readonly/></div>}
                        
                    </div>
                    <div class="row mb-3">
                        <div class="col-3"><label for="GhiChu">Ghi chú:</label></div>
                        <div class="col-9"><input type="text" class="form-control" name="GhiChu" id="GhiChu" value="@Model.ReportList.GhiChu" /></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3"><label for="KhoaPhongSD">Khoa/Phòng sử dụng:</label></div>
                        <div class="col-9">
                            <select asp-for="@Model.ReportList.KhoaPhong" asp-items="@Model.Depts" class="selectDepts3" multiple="multiple" data-placeholder="Chọn khoa phòng" style="width: 100%;" name="KhoaPhong" id="KhoaPhong" data-content="@Model.ReportList.KhoaPhong">
                            </select>
                            <input type="hidden" id="txtKhoaPhong" name="txtKhoaPhong" value="@Model.ReportList.KhoaPhong" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3"><label for="TheLoai">Thể loại:</label></div>
                        <div class="col-4">
                            <select class="form-control" name="postTheLoai" id="postTheLoai">
                                <option selected disabled>@Model.ReportList.TheLoai</option>
                                <option value="1">Biểu mẫu chuyên môn</option>
                                <option value="2">Báo cáo thống kê</option>
                                <option value="3">Biểu đồ</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        @if ((AuthorizationService.AuthorizeAsync(User, "Permission.Reports.Edit")).Result.Succeeded)
                        {
                            <button type="button" class="btn btn-primary" data-save="modalEditReport">Lưu</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(this).on('click', 'button[data-save="modalEditReport"]', function (event) {
            var form = $("#reportForm")
            if (form[0].checkValidity() === true) {

                var actionUrl = form.attr('action');
                var methodType = form.attr('method');

                var formData = new FormData();
                formData.append("IDBieuMau", $("#IDBieuMau").val());
                formData.append("IDPhienBan", $("#IDPhienBan").val());
                formData.append("TenBM", $("#TenBM").val());
                formData.append("MaBM", $("#MaBM").val());
                formData.append("NgayBanHanh", $("#NgayBanHanh").val());
                formData.append("fileUpload", $("#fileUpload")[0].files[0]);
                formData.append("FileLink", $("#FileLink").val());
                formData.append("PhienBan", $("#PhienBan").val());
                formData.append("GhiChu", $("#GhiChu").val());
                formData.append("KhoaPhong", $("#KhoaPhong").val());
                formData.append("postTheLoai", $("#postTheLoai").val());
                $.ajax({
                    type: 'POST',
                    url: '/Report/EditReport_Json',
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                        $('button[data-save="modalFile"]').attr("disabled", true);
                    },
                    success: function (data) {
                        $('#PopupEditReport').callToast(data.result, data.title, data.message);
                    },
                    error: function (data) {
                        $('#PopupEditReport').callToast(data.result, data.title, data.message);
                    },
                    complete: function () {
                        $('button[data-save="modalFile"]').attr("disabled", false);

                    },
                })
            }
            else {
                event.preventDefault()
                event.stopPropagation()
                form.addClass('was-validated');
            }
        });
    });

    $(function () {

        //Date picker
        $('#reportdate').datetimepicker({ format: 'DD/MM/YYYY', locale: 'vi' });
        //File upload show name file
        bsCustomFileInput.init()
    });
    $(function () {
        //Dropdown
        $('.selectDepts3').select2()
        var string = $('#txtKhoaPhong').val();
        if (string.length > 0) {
            var array = string.split(",").map(Number);
            $('#KhoaPhong').val(array);
            $('#KhoaPhong').trigger('change');
        }
    });
    $('#PopupEditReport').on('hidden.bs.modal', function (e) {
        window.location.reload();
    });
</script>

