<link rel="stylesheet" href="~/css/like.css">
<style type="text/css">
    /*body {
        overflow: hidden;*/ /* Hide scrollbars */
    /*}*/
    .card-title {
        float: unset;
    }

    .btn {
        display: unset;
    }

    .btn-like {
        border-radius: 5px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

        .btn-like:hover {
            background-color: lightgrey;
        }

    #heart-svg {
        width: 35px !important;
    }

    .text {
        padding-right: 10px;
    }

    .nav-tabs .nav-link {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav-tabs .nav-item:hover {
        background-color: transparent !important;
    }

    .read-checked {
        margin-top: 10px;
        align-content: center;
        justify-content: center;
        display: none;
    }

    .label-checkbox {
        display: flex;
        align-items: center;
        border-radius: 4px;
        padding: 4px;
        cursor: pointer;
        width: fit-content;
    }

        .label-checkbox:hover {
            background-color: lightblue;
        }

    input[type="checkbox"], input[type="radio"] {
        height: 20px;
        width: 20px;
        background: #fff;
        border: 2px solid var(--color-subtle);
        margin: 0 8px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline-offset: 5px;
        outline-color: var(--color-subtle);
    }

        input[type="checkbox"]:disabled, input[type="radio"]:disabled {
            opacity: 0.7;
            background: var(--color-subtle);
            cursor: not-allowed;
        }

        input[type="checkbox"]:after, input[type="radio"]:after {
            content: "";
            display: block;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
        }

        input[type="checkbox"]:checked:after, input[type="radio"]:checked:after {
            transform: scale(1);
        }

    input[type="checkbox"] {
        border-radius: 5px;
    }

        input[type="checkbox"]:after {
            width: 12px;
            height: 12px;
        }

        input[type="checkbox"]:checked {
            border: none;
            background-color: var(--color-primary, #dfdfdf);
        }

            input[type="checkbox"]:checked:after {
                font-family: "Font Awesome 5 Free";
                content: "\f00c";
            }

    input[type="radio"] {
        border-radius: 20px;
    }

        input[type="radio"]:after {
            width: 10px;
            height: 10px;
            border-radius: 7px;
        }

        input[type="radio"]:checked {
            border-color: var(--color-primary);
        }

            input[type="radio"]:checked:after {
                background-color: var(--color-primary);
            }

    .iframe-preview {
        width: 100%;
        height: 800px;
    }
</style>
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="modalVBPartial">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div id="cc" class="easyui-layout" style="width:100%; min-height:contain; height:900px;">
                <div data-options="region:'west',title:'Danh sách các tài liệu liên quan',split:true" style="min-width:230px; max-width:380px; width:fit-content;">
                    <div class="card-body p-0">
                        <table class="table table-sm" id="vanbanlienquan">
                            <tbody>
                                @if (Model.listVanBanLienQuan != null && Model.listVanBanLienQuan.Count > 0)
                                {
                    @foreach (var item in Model.listVanBanLienQuan)
                    {
        <tr>
            <td class="text-wrap">@item.TenVB</td>
            <td class="text-nowrap">
                @if (!String.IsNullOrEmpty(item.FileLink))
                {<a class="btn btn-link btn-sm" data-url="/Preview/GetFile?filePath=@item.FileLink&readed=@item.Readed&downloaded=@item.Downloaded&printed=@item.Printed" data-toggle="previewVanBan" data-target="preview-@item.IDVB" data-idvb="@item.IDVB">Link liên kết</a>}
            </td>
        </tr>
}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div data-options="region:'center',title:'', split: true" style="min-height:fit-content;">
                    <div class="row p-0 m-0 d-flex justify-content-between col-50">
                        <div class="col-auto" id="btnback"></div>
                        <div class="col-auto">
                            <input type="checkbox" id="checkbox" />
                            <label class="mb-0 btn-like" for="checkbox">
                                <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                                        <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" id="heart" fill="#AAB8C2" />
                                        <circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5" />

                                        <g id="grp7" opacity="0" transform="translate(7 6)">
                                            <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2" />
                                            <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2" />
                                        </g>

                                        <g id="grp6" opacity="0" transform="translate(0 28)">
                                            <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2" />
                                            <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2" />
                                        </g>

                                        <g id="grp3" opacity="0" transform="translate(52 28)">
                                            <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2" />
                                            <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2" />
                                        </g>

                                        <g id="grp2" opacity="0" transform="translate(44 6)">
                                            <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2" />
                                            <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2" />
                                        </g>

                                        <g id="grp5" opacity="0" transform="translate(14 50)">
                                            <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2" />
                                            <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2" />
                                        </g>

                                        <g id="grp4" opacity="0" transform="translate(35 50)">
                                            <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2" />
                                            <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2" />
                                        </g>

                                        <g id="grp1" opacity="0" transform="translate(24)">
                                            <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2" />
                                            <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2" />
                                        </g>
                                    </g>
                                </svg>
                                <span class="text" id="txtLike">Thêm tài liệu yêu thích</span>
                            </label>
                        </div>
                    </div>
                    <div class="row col-12 m-0 p-0">
                        <iframe class="iframe-preview" frameborder="0" scrolling="no" id="myIframe"></iframe>
                    </div>
                    <div class="btn-read" id="btnread"></div>
                    <input type="hidden" id="filePath" name="filePath" value="@Model.filePath" />
                </div>
                <div class="second-modal"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function () {
            var filePath = document.getElementById('filePath').value;
            $.ajax({
                url: '/Preview/GetFile',
                dataType: 'html',
                data: { filePath: filePath, readed: @Model.readed, downloaded: @Model.downloaded, printed: @Model.printed },
                success: function (data) {
                    $('body').find(".iframe-preview").attr("srcdoc", data);
                },
                complete: function (data) {
                    document.getElementById('btnread').innerHTML = '<div class="read-checked" id="readchecked"><button type="button" class="btn btn-info" id="btnXacNhan" data-toggle="ajax-modal" data-target="#modalVBXN-@Model.fileID" data-idvb="@Model.fileID">Xác nhận</button></div>';
                    window.history.pushState(null, null, "/VanBan/DanhMuc_VanBan");
                }
            });


            $('body').on('click', 'button[data-toggle="ajax-modal"]', function (e) {
                var idvb = $(this).data('idvb');
                $(this).callMultipleModal('/Preview/VanBan_XacNhan?idvb=' + idvb, ".second-modal");
            });

            $('body #vanbanlienquan').on('click', 'a[data-toggle="previewVanBan"]', function () {
                (document.getElementById("readchecked") || {}).style.display = "none";
                var url = $(this).data('url');
                var idvb = $(this).data('idvb');
                $.ajax({
                url: url,
                dataType: 'html',
                    success: function (data) {
                        $('body').find(".iframe-preview").removeAttr("srcdoc");
                        $('body').find(".iframe-preview").attr("srcdoc", data);
                    },
                    complete: function (data) {
                        document.getElementById('btnread').innerHTML = '<div class="read-checked" id="readchecked"><button type="button" class="btn btn-info" id="btnXacNhan" data-toggle="ajax-modal" data-target="#modalVBXN-' + idvb + '" data-idvb="' + idvb + '">Xác nhận</button></div>';
                        document.getElementById('btnback').innerHTML = `<button class="btn btn-primary" data-toggle="btnback" data-target="btnback"><i class="fas fa-caret-square-left"></i> Trở về văn bản chính</button>`;
                    },
                });
            });

            $('body #btnback').on('click', 'button[data-toggle="btnback"]', function () {
                (document.getElementById("readchecked") || {}).style.display = "none";
                var url = '/Preview/GetFile';
                $.ajax({
                    url: url,
                    dataType: 'html',
                    data: { filePath: filePath, readed: @Model.readed, downloaded: @Model.downloaded, printed: @Model.printed},
                    success: function (data) {
                        $('body').find(".iframe-preview").removeAttr("srcdoc");
                        $('body').find(".iframe-preview").attr("srcdoc", data);
                    },
                    complete: function (data) {
                        document.getElementById('btnread').innerHTML = '<div class="read-checked" id="readchecked"><button type="button" class="btn btn-info" id="btnXacNhan" data-toggle="ajax-modal" data-target="#modalVBXN-@Model.fileID" data-idvb="@Model.fileID">Xác nhận</button></div>';
                        document.getElementById('btnback').innerHTML = '';
                    },
                });

            });

            $('#checkbox').change(function () {
                var text = document.getElementById("txtLike");
                if (this.checked == true) {
                    text.innerHTML = "Hủy tài liệu yêu thích";
                } else {
                    text.innerHTML = "Thêm tài liệu yêu thích";
                }
            });

            $(this).on('scroll mousemove keydown keyup touchstart', function () {
                var iframe = document.getElementById('myIframe');
                var iframeDoc = (iframe.contentDocument)
                    ? iframe.contentDocument
                    : iframe.contentWindow.document;

                var rcId = ((iframeDoc.getElementById("iframeid") || {}).value) || "";
                if (rcId) {
                    var iframe2 = iframeDoc.getElementById(rcId);
                    var iframeDoc2 = (iframe2.contentDocument)
                        ? iframe2.contentDocument
                        : iframe2.contentWindow.document;
                    var scrollDoc = iframeDoc2.getElementById("DocumentViewer");
                    scrollDoc.addEventListener('scroll', function (event) {
                        if (Math.abs(scrollDoc.scrollHeight - scrollDoc.scrollTop - scrollDoc.clientHeight) < 1) {
                            (document.getElementById("readchecked") || {}).style.display = "flex";
                        }
                        else {
                            (document.getElementById("readchecked") || {}).style.display = "none";
                        }
                    }, false);
                }
            });
        });

</script>
